<form method="post" action="{{ path('app_service_notify', {'id': service.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('notify' ~ service.id) }}">
    <input type="hidden" name="all" value="{{ app.request.query.all()|json_encode() }}">
    <twig:Button variant="notify">
        Notify
    </twig:Button>
</form>
