{%  extends 'base.html.twig' %}
{%  block title %} {{ parent() }} - home {%  endblock %}
{% block body %}
<p>homepage</p>

<p>Variable - {{ starshipCount }}</p>


    <p>{{  test.bb|upper }}</p>
    
    {% endblock %}
    