{%  extends 'base.html.twig' %}
{%  block title %} {{ parent() }} - home {%  endblock %}
{% block body %}
<p>homepage</p>

<p>Clients - {{ clientCount }}</p>
{% for client in clients %}
    <p>Name - <a href="{{ path('app_client_show',{id:client.getId()}) }}">{{  client.getName() }}</a></p>
{% endfor %}
{% endblock %}
    