App\Entity\Client:
    properties:
        name:
            - NotBlank: ~
        street:
            - NotBlank: ~
        zipCode:
            - NotBlank: ~
        town:
            - NotBlank: ~
        nin:
            - NotBlank: ~

App\Entity\ClientPoint:
    properties:
        name:
            - NotBlank: ~
        street:
            - NotBlank: ~
        zipCode:
            - NotBlank: ~
        town:
            - NotBlank: ~
        email:
            - NotBlank: ~
            - Email:
                 message: The email "{{ value }}" is not a valid email.
        phoneNumber:
            - NotBlank: ~
        client:
            - NotBlank: ~
            
App\Entity\Service:
    properties:
        startedAt:
            - NotBlank: ~
            - Type: \DateTimeInterface
        endedAt:
            - NotBlank: ~
            - Type: \DateTimeInterface
        time:
            - NotBlank: ~
            - Positive: ~
        description:
            - NotBlank: ~
            - Length:
                min: 3
        clientPoint:
            - NotBlank: ~
        user:
            - NotBlank: ~
            
App\Entity\User:
    properties:
        name:
            - NotBlank: ~
            - Length:
                min: 3
        firstName:
            - NotBlank: ~
            - Length:
                min: 2
        lastName:
            - NotBlank: ~
            - Length:
                min: 2