<form method="post" action="{{ path('app_clientpoint_delete', {'id': clientPoint.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ clientPoint.id) }}">
    <twig:Button variant="danger">
        Delete
    </twig:Button>
</form>
