@import "tailwindcss";

/* tom-select custom styling */
/* Base Styles for Dark Mode */
.ts-wrapper {
    border-color: var(--color-gray-600);
}
.ts-wrapper .ts-control,
.ts-wrapper.single .ts-control,
.ts-wrapper.single.input-active .ts-control,
.full .ts-control,
.ts-dropdown {
  background-color: var(--color-gray-700);
  color: var(--color-white); /* #fff */
  box-shadow: none !important;
  background-image: none !important;
  border: none !important;
}

/* Specific Style for the Input Field */
.ts-wrapper .ts-control > input,
.ts-wrapper.single .ts-control > input {
  background-color: transparent;
  color: var(--color-white); /* #fff */
}

.ts-wrapper .ts-dropdown .option {
    background-color: var(--color-gray-800); /* oklch(0.278 0.033 256.848) */
    color: var(--color-white); /* #fff */
}

/* Active and Hover States for Dropdown Items */
.ts-wrapper .ts-dropdown .active,
.ts-wrapper .ts-dropdown [data-selectable]:hover {
    background-color: var(--color-gray-700); /* oklch(0.373 0.034 259.733) */
    color: var(--color-white); /* #fff */
}

/* Disabled and Focus States */
.ts-wrapper.disabled .ts-control,
.ts-wrapper.focus .ts-control {
    background-color: var(--color-gray-700); /* oklch(0.373 0.034 259.733) */
    border-color: var(--color-gray-500); /* oklch(0.551 0.027 264.364) */
    color: var(--color-gray-400); /* oklch(0.707 0.022 261.325) */
   background-color: var(--color-gray-700); /* oklch(0.373 0.034 259.733) */
}

/* Multi-select Tags Style */
.ts-wrapper.multi .ts-control > div {
    background-color: var(--color-gray-600); /* oklch(0.446 0.03 256.802) */
       color: var(--color-white); /* #fff */
}

/* Border Radius Adjustments */
.ts-wrapper .ts-control,
.ts-wrapper .ts-dropdown,
.ts-wrapper .ts-control > div {
    border-radius: var(--radius-md); /* 0.375rem (6px) */
}

/* Dropdown Box Shadow */
.ts-wrapper .ts-dropdown {
  box-shadow: var(--shadow-md); /* 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1) */
}

[data-popover-target=card]:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 1rem;
    border-width: .75rem;
    border-top-color: var(--color-gray-900); /* oklch(0.21 0.034 264.665) */
    border-top-color: var(--color-white); /* #fff */
    border-color: transparent;
}