<form method="post" action="{{ path('app_classificationofactivities_delete', {'id': classificationOfActivities.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ classificationOfActivities.id) }}">
    <twig:Button variant="danger">
        Delete
    </twig:Button>
</form>
