<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}TimeForService{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
           
                {{ importmap('app') }}
                <script type="module">
                    import testScript from '{{ asset('lib/test-script.js')}}';
                    testScript('In peace?',false);
                </script>
        {% endblock %}
    </head>
    <body>
        <img src="{{asset('images/logo.png')}}" alt="Logo"/>
        {% block body %}{% endblock %}
    </body>
</html>
