<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {# ADD NEW META FOR TRANSITIONS - IF BROWSER NOT SUPPORT IT WILL BE SKIPPED #}
        <meta name="view-transition">
        <title>{% block title %}TimeForService{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {{ importmap('app') }}
        {% endblock %}
    </head>
    <body class="bg-black text-white font-mono">
        <div class="container mx-auto min-h-screen flex flex-col">
            <header class="my-0 px-4">
                <nav class="flex items-center justify-between mb-4">

                </nav>
            </header>

            <!-- Make sure the main tag takes up the remaining height -->
            <main class="flex-grow">{% block body %}{% endblock %}</main>

            <!-- Footer -->
            <footer class="py-4 mt-6 bg-gray-800 text-center">
                <div class="text-sm text-right pr-4">
                    TimeForService@TimeForIT Tomasz Borczyński
                </div>
            </footer>
        </div>

            
    </body>
</html>