<form method="post" action="{{ path('app_employe_delete', {'id': employe.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ employe.id) }}">
    <twig:Button variant="danger">
        Delete
    </twig:Button>
</form>
