<form method="post" action="{{ path('app_user_delete', {'id': user.id}) }}" >
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <twig:Button variant="danger">
        Delete
    </twig:Button>
</form>
